[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
numpy = "*"
scipy = "*"
pandas = "*"
tensorflow = "~=2.10"  # <-- ATUALIZADO para uma versão compatível com ARM
pillow = "*"
opencv-contrib-python = "*"
matplotlib = "*"
scikit-image = "*"
scikit-learn = "*"
pdf2image = "*"
tqdm = "*"
pypdf2 = "*"
python-docx = "*"      # <-- Agora podemos usar a versão mais recente
openpyxl = "*"
streamlit = "*"        # Mantendo para compatibilidade, se necessário

[requires]
python_version = "3.9"

[dev-packages]
